.grid{
    border-style: solid;
    border-color: blue;
}

mat-grid-tile {
    background: lightblue;
    border-style: solid;
    border-color: lightseagreen;

}

mat-grid-tile:hover{
    background-color: whitesmoke;
}

.clicked{
    background: lightgray;
    color: black;
}

.right-clicked{
    background: lightsalmon;
    color: red;
}