.grid{
    border-style: solid;
    border-color: blue;
}

mat-grid-tile {
    background: lightblue;
    // border-style: solid;
    // border-color: pink;

}

mat-grid-tile:hover{
    background-color: whitesmoke;
}

.clicked{
    background: lightgray;
    color: black;
}